#newGif {
    background-color: white;
    width: 28rem;
    height: 16rem;
    margin: auto;
}
#addText{
    font-family: Andale Mono, monospace;
}
#textContainer{
    font-family: Andale Mono, monospace;
}
